.rockb {
  position: relative;
  height: 100%;
  width: 100%;
}
.rockb::before {
  content: "";
  background-color: black;
  opacity: 0.75;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-position: center;
  position: absolute;
  background-attachment: fixed;
}
h2,
h1,
p,
br {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.text {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
