.card-group {
    margin-top: 20px;
    margin-bottom: 60px;
}

.card {
    margin-top: 150px;
    margin-bottom: 150px;
}

.valami {
    width: 200px;
    margin-left: 45px;
}

.valaki {
    width: 220px;
    margin-left: 40px;
}